*{
	margin: 0;
	padding: 0;
	font-family: cursive;
}

header{
	background-image: url(back_blur.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin: 10px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}

.main{
	width: 100%;
	height: 49px;
	background-color: #262626;
}
.user-box
{
	top: 45%;
	left: 20%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.user-box img
{
	border-radius: 50%;
	width: 300px;
	border: 1px solid #6caed5;
}

.page{
	background-image: url(space_11_blur.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	padding-left: 25px;
}

.quals{
	left: 50%;
	color: #fff;
	padding-bottom: 25px;
	padding-top: 25px;
	padding-top: 25px;	
}
.work{
	color: #fff;
	padding-bottom: 15px;
	padding-bottom: 20px;
	padding-top: 1px;
	padding-top: 25px
}
.para{
	color: #fff;
	padding-bottom: 15px;
}

.intro{
	font-family: cursive;
	font-size: x-large;
	top: 45%;
	left: 60%;
	transform: translate(-50%, -50%);
	position: absolute;
	color: #fff;

}
button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 18px;
  color: white;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  width: 200%;
  font-size: 48px;
  padding-left: 50%;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
